* {
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  padding: 0px;
  margin: 0px;
  color: #222;
  font-family: "Segoe UI", "Open Sans", sans-serif;
}

#container {
  margin: 10px;
}

.clearfix {
  clear: both;
}

a:link,
a:focus,
a:visited {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

.qrTab {
  background-color: #226ca8;
}

.qrTab:hover {
  background-color: #cce8ff;
}

.lineError {
  background-color: rgba(255, 0, 0, 0.2);
}

.row .w50 {
  width: 100%;
}

footer .row .w50 {
  text-align: center;
}

footer p {
  color: #ccc;
  margin: 20px;
}

.txt-right {
  text-align: center;
}

/* Medium and up */
@media screen and (min-width: 960px) {
  #container {
    margin: 40px auto;
  }

  .row .colonne {
    float: left;
  }

  .row .w50 {
    width: 50%;
  }

  a.button {
    width: 100%;
    position: absolute;
    top: -86px;
  }

  .txt-right {
    text-align: right !important;
  }

  footer .row .w50 {
    text-align: left;
  }

  footer p {
    margin: 0px;
  }
}
